# Ambiente
NODE_ENV=development

# Porta do servidor de desenvolvimento
PORT=5500

# URL base para assets
NEXT_PUBLIC_ASSETS_URL='http://localhost:5500'

# API URLs
NEXT_PUBLIC_HOSTING_API_URL='http://localhost:3001'
NEXT_PUBLIC_CMS_API_URL='http://localhost:3011'

# Module Federation
VITE_MODULE_FEDERATION_URL='http://localhost:5500'
